<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>new_feature_flutter_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F23CA5E2E45F3C8006B9C9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F23CA742E45F3CE006B9C9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F23CA7E2E45F3CE006B9C9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
